body {
    background-image: url(./media/a\ scary\ forest\ at\ night.png);
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    color: aliceblue;
    font-family: "Merienda";
}

.Header-section {
    background-image: url(./media/stars.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    border-style: groove;
    border-color: aliceblue;
    text-decoration: underline;
}

section, .navigation{
    background-image: url(./media/creepy-nightmares-scary-backgrounds-concept-highly-detailed-plain-background-featuring-eerie-elements-creating-spooky-332649548.webp);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    border-style: groove;
    border-color: aliceblue;
    margin: 4rem;
}

h1 {
    text-align: top;
}


ul, a {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 0.25rem 2rem;
    list-style: none;
}

article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
    border-style: solid;
    border-color: aliceblue;
    margin: 4rem;
    background-image: url(./media/istockphoto-1358440425-612x612.jpg);
    background-size: cover;
}

.h2pages {
    display: flex;
    justify-content: center;
}

p {
    padding: 4px;
    font-family: "Merienda";
}

img {
    padding: 40px;
}

a:visited {
    color: blueviolet;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 2rem;
}

#back-to-top {
    background-color: black;
    position:fixed;
    bottom:.5rem;
    float:right;
    right:45%;
    max-width: fit-content;
    width: 50%;
}

a:hover {
    cursor: pointer;
    color: rgb(255, 255, 255);
    filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 53px #fff); 
}